.score-board {
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    min-width: 400px;
}

.rock-paper>img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.score {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.score>p {
    font-size: 26px;
    font-weight: 600;
    color: #2A46C0;
}

.score>h1 {
    font-size: 60px;
    color: #3B4363;
    margin-top: -10px;
}