.gamematch-border {
    border: 2px solid blue;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.picks {
    border: 2px solid green;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
}

.picks>h4 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.picks>div {
    /* border: 20px solid yellow; */
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.picks>div>img {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.match {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0px 30px 0px 30px;
    width: 250px;
    height: 260px;
}

.match>button {
    margin-top: 20px;
    padding: 10px 40px 10px 40px;
}

/* button */
.play-again {
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.win-lose {
    font-size: 2rem;
    font-weight: 600;
}